<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Thanks!</title>
    </head>
    <body>
    <h1>Thank you for confirming your Email address with YourStash</h1>
    <p>To Login, just click <a href="http://yourstash.tr8.us:3000/login">here
    </a>.</p>
<!--         <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1> -->
<!--         <form th:action="@{/login}" method="post">
            <input type="submit" value="Login"/>
        </form> -->
    </body>
</html>